<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="app.config">
		<add key="Username" value=""/>
		<add key="DatabaseHost" value="192.168.0.23"/>
		<add key="Database" value=""/>
		<add key="Password" value="123mudar"/>
		<add key="SystemPath" value="C:\SIG\Comercial S.I.G\"/>
		<add key="DescricaoImagemPath" value="\\192.168.0.4\sistemas\SIG\Comercial\Imagens\Descricoes"/>
		<add key="UpdateInfoUrl" value="http://192.168.0.49/downloads/comercial/version.json"/>
		<add key="WooCommerceUrl" value="https://lojapro.cipolatti.com.br"/>
		<add key="WooCommerceConsumerKey" value="ck_32c11654a2e4955fce44e9887326b75dd5e7b206"/>
		<add key="WooCommerceConsumerSecret" value="cs_ee78fd4d7dcb40900d048153e041f77d63309e6a"/>
		<add key="SyncfusionLicense" value="MTU4NUAzMjM3MkUzMTJFMzluT08wbzRnYm4zUlFDOVRzWVpYbUtuSEl0aUhTZmNMYjQxekhrV0NVRnlzPQ=="/>
	</appSettings>
</configuration>
